.card {
  background-color: var(--text-bg-color, #fff);
  border: var(--main-border-width) solid #000;
  padding-block-end: var(--card-padding, 25px);
}

.card__title {
  position: relative;
  padding-inline: 10px;
  padding-block: 4px;

  font-size: inherit;
  font-variation-settings: 'wght' var(--heading-wght, 715);
}

.card__media {
  position: relative;
  border-block: var(--main-border-width) solid;
  height: var(--section-width);
}

.card__media-caption {
  position: absolute;
  top: var(--card-padding, 25px);
  right: var(--card-padding, 25px);
  z-index: 1;

  font-family: var(--accent-font), monospace;
  font-size: var(--accent-font-size, 14px);
  text-transform: uppercase;
  color: var(--accent-color, #000);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:  /*фолбэк для text-stroke*/
    1px 1px #fff,
    -1px -1px #fff;

  @supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__media-attribution {
  background-color: #fff;
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card__img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: top;
}

.card__description {
  padding-block: var(--card-padding, 25px);
  padding-inline: var(--card-padding, 25px);

  display: flex;
  flex-direction: column;
  gap: var(--card-gap, 25px);
}

.card__text {
  vertical-align: top;
  line-height: 117%;
}

.card__buttons {
  padding-inline: var(--card-padding, 25px);

  display: flex;
  justify-content: end;
  gap: 6px;
}

.card__icon-button {
  padding: 0;
  width: calc(39px + var(--main-border-width));
  height: 100%;
  background: none;
  border: var(--main-border-width) solid transparent;

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--accent-color, #000);
  }
}

.card__like-button {
  min-inline-size: 130px;
}

/*Фильтры для картинок*/

.card__img_jungle-bridge {
  filter: grayscale(0.9) saturate(37) brightness(0.5);
}

.card__img_gorilla-in-leafs {
  filter: hue-rotate(282deg) saturate(2) brightness(0.5);
}

.card__img_little-monkey {
  filter: contrast(3.5);
}

.card__img_trafaret {
  filter: brightness(0.5);
}

.card__img_frogs {
  filter: saturate(1.5) brightness(0.5);
}

.card__img_nail {
  filter: sepia(0.8) saturate(11.5) brightness(0.5);
}

.card__img_orangutang {
  filter: brightness(0.5) contrast(1.5);
}

.card__img_sad-gorilla {
  filter: blur(3px) sepia(1) contrast(3.5) saturate(22.5) hue-rotate(200deg)
    brightness(0.5);
}
