.card {
  background-color: var(--text-bg-color);
  border: var(--main-border-width) solid #000;
  padding-block-end: var(--card-padding, 25px);
}

.card__title {
  position: relative;
  padding-inline: 10px;
  padding-block: 4px;

  font-size: inherit;
  font-variation-settings: 'wght' var(--heading-wght);
}

.card__media {
  position: relative;
  border-block: var(--main-border-width) solid;
}

.card__media-caption {
  position: absolute;
  top: var(--card-padding, 25px);
  right: var(--card-padding, 25px);

  display: flex;
  flex-direction: column;

  font-family: var(--accent-font), monospace;
  font-size: var(--accent-font-size, 14px);
  text-transform: uppercase;
  color: var(--accent-color, #000);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:  /*фолбэк для text-stroke*/
    1px 1px #fff,
    -1px -1px #fff;

  @supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__picture-img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;

  object-fit: cover;
  object-position: center;
}

.card__description {
  padding-block: var(--card-padding, 25px);
  padding-inline: var(--card-padding, 25px);

  display: flex;
  flex-direction: column;
  gap: var(--card-gap, 25px);

}

.card__text {
  vertical-align: top;
  line-height: 117%;
}

.card__buttons {
  padding-inline: 25px;

  display: flex;
  justify-content: end;
  gap: 6px;
}

.card__icon-button {
  padding: 0;
  width: calc(39px + var(--main-border-width));
  height: 100%;
  background: none;
  border: var(--main-border-width) solid transparent;

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--accent-color, #000);
  }
}

.card__like-button {
  min-inline-size: 130px;
}
