.dialog {
  position: fixed;
  inset: 0;
  padding-inline: 30px;
  padding-block: 30px;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  max-inline-size: min(353px, 91vi);
  border: medium solid currentColor;

  &::backdrop {
    background-color: rgb(0 0 0 / 0.75);
    backdrop-filter: blur(7px);
  }

  &:not([open]) {
    pointer-events: none;
    display: none;
  }
}

.dialog__icon {
  width: 39px;
  height: 39px;
  object-fit: cover;
  object-position: top left;
}

.dialog__text {
  font-family: var(--accent-font), monospace;
  line-height: 150%;
  font-size: var(--accent-font-size, 14px);
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1/-1;
  text-transform: uppercase;
}
