.header {
  min-block-size: var(--header-height);
  border: var(--main-border-width, 2px) solid;
  background-color: var(--text-bg-color, #fff);
  padding-block: var(--header-block-padding, 27px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  font-family: var(--accent-font), monospace;
}

.header__logo {
  font-size: var(--logo-size, 65px);
  text-transform: uppercase;
}

.header__title {
  font-size: var(--header-title-size, 23px);
  text-transform: uppercase;
}
