/*иконка сердце*/

.like-icon {

  .contour {
    transition: fill 0.1s linear;
  }

  .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
  }

  .core {
    fill: transparent;
    transition: fill 0.3s 0.03s linear;
  }

  .sparks {
    opacity: 0;
  }

  &:hover {

    .core {
      transition: fill 0.3s linear;
      fill: var(--contour-color);
    }

    .main-body {
      transition: fill 0.3s 0.05s linear;
      fill: var(--contour-color);
    }
  }

  &:active {

    .core {
      fill: var(--animation-fill-color);
    }

    .main-body {
      fill: var(--animation-fill-color);
    }
  }

  &.is-liked {

    .core {
      fill: var(--animation-fill-color);
    }

    .main-body {
      fill: var(--animation-fill-color);
    }

    .contour {
      transition: fill 0.3s 0.06s linear;
      fill: var(--animation-fill-color);
    }

    .sparks {
      animation: sparkees 0.3s 0.3s ease-in;
    }

    .heart {
      animation: scales 0.3s 0.1s ease-in;
      transform-origin: center;
    }
  }
}
