.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-image:
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--text-font), Arial, ui-sans-serif;
  font-size: var(--text-size, 18px);
  font-variation-settings: 'wght' var(--text-wght, 410);
  color: var(--text-color, #000);
}

.page__section {
  inline-size: var(--section-width, 700px);
  margin-inline: auto;
  margin-block-end: var(--section-margin, 100px);
}

.page__section_start {
  margin-block-start: var(--section-margin, 100px);
}
