.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-image: var(--bg-pattern);
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--text-font), Arial, ui-sans-serif;
  font-size: var(--text-size, 18px);
  font-variation-settings: 'wght' var(--text-wght, 410);
  color: var(--text-color, #000);
}

.page__section {
  inline-size: var(--section-width, 700px);
  margin-inline: auto;
  margin-block-end: var(--section-margin, 100px);
}

.page__section_start {
  margin-block-start: var(--section-margin, 100px);
}
